
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    background-color: red;
}

header, footer {
    text-align: center;
    padding: 1rem;
    color: white;
    font-size: larger;
}


main {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background-color: rgba(23, 75, 23, 0.751);
}

main, h2 {
color: white;
background-color: rgb(24, 91, 24);

}

main, ul{ 
    color: black;
}
.place-title {
    font-size: 2rem;
}


.hero-image {
    width: 100vw; 
    display: block;
    height: auto;
    
  
}



.data-box,
.weather-box {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 6px;
    background-color: #fafafa;
}

.data-box h2,
.weather-box h2 {
    margin-bottom: 0.5rem;
}

.data-box ul,
.weather-box ul {
    list-style: none;
}

.data-box li,
.weather-box li {
    margin: 0.3rem 0;
}

.weather-icon {
    text-align: center;
    margin: 0.5rem 0;
}


@media (min-width: 800px) {
    
    main {
        display: grid;
        grid-template-columns: 250px 1fr 250px;
        grid-template-rows: auto auto;
        grid-template-areas:
            "title title title"
            "data hero weather";
        gap: 2rem;
    }

    header {
        grid-area: title;
    }

    .data-box {
        grid-area: data;
        align-self: start;
    }

    .weather-box {
        grid-area: weather;
        align-self: start;
    }

    .hero {
        grid-area: hero;
    }

    .hero-image {
        width: 100%;
        height: auto;
    }
}