body {
  font-family: Arial, sans-serif;
  background-color: #e3dbe7;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  background-color: #420d36;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

form {
  background-color: #d1c8d4;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.rating-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.rating-group input {
  margin-top: 10px;
}

fieldset {
  border: none;
  margin-top: 15px;
}

textarea,
input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 4px;
  border: 1px solid #bbb;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #ddd;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 6px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: white;
  background: #420d36;
  padding: 20px;
}