* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #222;
  line-height: 1.5;
}


header {
  background-color: #8c66a5;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

header span {
  font-size: 1.8rem;
  font-weight: bold;
}
main h1 {
background-color: white;
}

nav {
  margin-top: 0.5rem;
  color: rgb(158, 72, 207);
 
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 0.5rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 1rem;
  text-align: center;
}

main h1 {
  font-size: 1.6rem;
  color: #111;
  margin-bottom: 1.5rem;
}


.card {
  margin-bottom: 1.5rem;
}

.card img {
  width: 90%;
  max-width: 320px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.card figcaption {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #333;
}


footer {
  background-color: #b688d4;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

footer p {
  margin: 0.3rem 0;
}

